In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-macosx_11_0_arm64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 3.9 MB/s eta 0:00:00
Collecting numpy>=1.22.4 (from pandas)
  Using cached numpy-2.2.2-cp310-cp310-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/ThaiTattoo/lib/python3.10/site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/ThaiTattoo/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp310-cp310-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 19.9 MB/s eta 0:00:0000:0100:01
Using cached numpy-2.2.2-cp310-cp310-macosx_14_0_arm64.whl (5.4 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.8/346.8 kB 17.2 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2 tzdata-2025.1

In [1]:
import pandas as pd

# Read the CSV file, skipping bad lines
df = pd.read_csv("converted_prices.csv")

# Check the first few rows of the dataframe
df

,condo_name,building,floor,unit,for_rent_price,for_rent_price_per_space,for_rent_evolution,for_sale_price,for_sale_price_per_space,for_sale_evolution,...,Features 12,Features 13,Features 14,Features 15,Features 16,Features 17,for_rent_price_thb,for_rent_price_per_space_thb,for_sale_price_thb,for_sale_price_per_space_thb
0,Ratchada City 18,NaN,8.0,11.0,643.0,17.0,+8.0 % Evolution compared to December 2023,143510.0,3767.0,+6.1 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,21862.0,578.0,4879340.0,128078.0
1,BAAN SUKHUMVIT 36,1.0,14.0,26.0,1465.0,20.0,+6.8 % Evolution compared to December 2023,384009.0,5554.0,+5.0 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,49810.0,680.0,13056306.0,188836.0
2,LK Tower,NaN,8.0,1.0,NaN,NaN,NaN,45458.0,1605.0,-2.6 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1545572.0,54570.0
3,Chatuchak Condominium,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31 Residence,NaN,17.0,18.0,NaN,NaN,NaN,1319.0,19.0,+4.8 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44846.0,646.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3244,The Cube Loft Ladprao 107,NaN,8.0,13.0,396.0,12.0,+9.3 % Evolution compared to December 2023,78609.0,2222.0,+17.0 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,13464.0,408.0,2672706.0,75548.0
3245,Nusa State Tower Condominium,1.0,68.0,122.0,967.0,23.0,+6.4 % Evolution compared to December 2023,304806.0,6035.0,+4.6 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,32878.0,782.0,10363404.0,205190.0
3246,Life Ladprao,2.0,46.0,227.0,555.0,17.0,+5.3 % Evolution compared to December 2023,130917.0,3372.0,+1.7 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,18870.0,578.0,4451178.0,114648.0
3247,Phatssana Gardens,NaN,21.0,16.0,1319.0,19.0,+4.8 % Evolution compared to December 2023,324894.0,4720.0,+6.2 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,44846.0,646.0,11046396.0,160480.0
3248,Sribumpen Condo Home,NaN,12.0,1.0,NaN,NaN,NaN,1113.0,13.0,+3.9 % Evolution compared to December 2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37842.0,442.0

In [2]:
# List of facilities
facilities = [
    "Gym", "Garden", "Security", "Sauna", "Children area", "Swimming pool",
    "Library", "Jacuzzi", "Balcony", "Grill", "Parking", "Tennis court"
]

# Step 1: Add columns for each facility
for facility in facilities:
    # Step 2: Check if each facility is present in any column of the row
    df[facility] = df.apply(
        lambda row: 1 if any(facility in str(value) for value in row) else 0,
        axis=1
    )

# Display the updated DataFrame
df.head()

,condo_name,building,floor,unit,for_rent_price,for_rent_price_per_space,for_rent_evolution,for_sale_price,for_sale_price_per_space,for_sale_evolution,...,Security,Sauna,Children area,Swimming pool,Library,Jacuzzi,Balcony,Grill,Parking,Tennis court
0,Ratchada City 18,NaN,8.0,11.0,643.0,17.0,+8.0 % Evolution compared to December 2023,143510.0,3767.0,+6.1 % Evolution compared to December 2023,...,1,0,0,1,0,0,0,0,1,0
1,BAAN SUKHUMVIT 36,1.0,14.0,26.0,1465.0,20.0,+6.8 % Evolution compared to December 2023,384009.0,5554.0,+5.0 % Evolution compared to December 2023,...,1,1,0,1,0,0,0,0,1,0
2,LK Tower,NaN,8.0,1.0,NaN,NaN,NaN,45458.0,1605.0,-2.6 % Evolution compared to December 2023,...,1,0,0,0,0,0,0,0,1,0
3,Chatuchak Condominium,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,31 Residence,NaN,17.0,18.0,NaN,NaN,NaN,1319.0,19.0,+4.8 % Evolution compared to December 2023,...,1,1,1,1,0,0,0,0,1,0

In [4]:
# Save the updated DataFrame to an Excel file
df.to_csv('draft.csv', index=False)

print("The DataFrame has been converted and saved to 'draft.csv'")

The DataFrame has been converted and saved to 'draft.csv'

In [6]:
# Function to extract numeric values from evolution strings
def extract_percentage(value):
    if isinstance(value, str):  # Check if the value is a string
        return float(value.split("%")[0].replace("+", "").strip())
    return None  # Return None for NaN or invalid values

# Rename columns
df.rename(
    columns={
        "for_rent_evolution": "Rent percentage evolution compared to December 2023",
        "for_sale_evolution": "Sale percentage evolution compared to December 2023"
    },
    inplace=True
)

# Apply the function to transform the values
df["Rent percentage evolution compared to December 2023"] = df[
    "Rent percentage evolution compared to December 2023"
].apply(extract_percentage)

df["Sale percentage evolution compared to December 2023"] = df[
    "Sale percentage evolution compared to December 2023"
].apply(extract_percentage)

# Display the updated DataFrame
print(df)

                        condo_name  building  floor   unit  for_rent_price  \
0                 Ratchada City 18       NaN    8.0   11.0           643.0
1                BAAN SUKHUMVIT 36       1.0   14.0   26.0          1465.0
2                         LK Tower       NaN    8.0    1.0             NaN
3            Chatuchak Condominium       NaN    4.0    NaN             NaN
4                     31 Residence       NaN   17.0   18.0             NaN
...                            ...       ...    ...    ...             ...
3244     The Cube Loft Ladprao 107       NaN    8.0   13.0           396.0
3245  Nusa State Tower Condominium       1.0   68.0  122.0           967.0
3246                  Life Ladprao       2.0   46.0  227.0           555.0
3247             Phatssana Gardens       NaN   21.0   16.0          1319.0
3248          Sribumpen Condo Home       NaN   12.0    1.0             NaN

      for_rent_price_per_space  \
0                         17.0
1                         20.0
2                          NaN
3                          NaN
4                          NaN
...                        ...
3244                      12.0
3245                      23.0
3246                      17.0
3247                      19.0
3248                       NaN

      Rent percentage evolution compared to December 2023  for_sale_price  \
0                                                   8.0          143510.0
1                                                   6.8          384009.0
2                                                   NaN           45458.0
3                                                   NaN               NaN
4                                                   NaN            1319.0
...                                                 ...               ...
3244                                                9.3           78609.0
3245                                                6.4          304806.0
3246                                                5.3          130917.0
3247                                                4.8          324894.0
3248                                                NaN            1113.0

      for_sale_price_per_space  \
0                       3767.0
1                       5554.0
2                       1605.0
3                          NaN
4                         19.0
...                        ...
3244                    2222.0
3245                    6035.0
3246                    3372.0
3247                    4720.0
3248                      13.0

      Sale percentage evolution compared to December 2023  ... Security Sauna  \
0                                                   6.1    ...        1     0
1                                                   5.0    ...        1     1
2                                                  -2.6    ...        1     0
3                                                   NaN    ...        0     0
4                                                   4.8    ...        1     1
...                                                 ...    ...      ...   ...
3244                                               17.0    ...        1     1
3245                                                4.6    ...        0     0
3246                                                1.7    ...        1     1
3247                                                6.2    ...        1     1
3248                                                3.9    ...        0     1

     Children area Swimming pool Library Jacuzzi Balcony Grill Parking  \
0                0             1       0       0       0     0       1
1                0             1       0       0       0     0       1
2                0             0       0       0       0     0       1
3                0             0       0       0       0     0       0
4                1             1       0       0       0     0       1
...            ...           ...     ...     ...     ...   ...     ...
3244             0             1       0       0       0     0       1
3245             0             0       0       0       0     0       1
3246             0             1       0       0       0     0       1
3247             1             1       0       0       0     0       1
3248             1             1       0       0       0     1       0

     Tennis court
0               0
1               0
2               0
3               0
4               0
...           ...
3244            0
3245            0
3246            0
3247            0
3248            0

[3249 rows x 50 columns]

In [7]:
# Save the updated DataFrame to an Excel file
df.to_csv('draf2.csv', index=False)

print("The DataFrame has been converted and saved to 'draft2.csv'")

The DataFrame has been converted and saved to 'draft2.csv'

In [8]:
# List of pets-related phrases and their mapping
pets_list = {
    "Pets: All allowed All allowed": "Allowed all",
    "Pets: Cats and dogs small Cats and dogs small": "Allowed small cats and dogs",
    "Pets: Cats only Cats only": "Allowed cats only",
    "Pets: Dogs only Dogs only": "Allowed dogs only",
    "Pets: Cats and dogs any size Cats and dogs any size": "Allowed any size cats and dogs"
}

# Step 1: Add the "Pets allowance" column
def check_pets(row):
    for phrase, result in pets_list.items():
        if any(phrase in str(value) for value in row):
            return result
    return "Not allowed"

df3 = df
# Apply the function to each row
df3["Pets allowance"] = df.apply(check_pets, axis=1)

# Display the updated DataFrame
print(df3)

                        condo_name  building  floor   unit  for_rent_price  \
0                 Ratchada City 18       NaN    8.0   11.0           643.0
1                BAAN SUKHUMVIT 36       1.0   14.0   26.0          1465.0
2                         LK Tower       NaN    8.0    1.0             NaN
3            Chatuchak Condominium       NaN    4.0    NaN             NaN
4                     31 Residence       NaN   17.0   18.0             NaN
...                            ...       ...    ...    ...             ...
3244     The Cube Loft Ladprao 107       NaN    8.0   13.0           396.0
3245  Nusa State Tower Condominium       1.0   68.0  122.0           967.0
3246                  Life Ladprao       2.0   46.0  227.0           555.0
3247             Phatssana Gardens       NaN   21.0   16.0          1319.0
3248          Sribumpen Condo Home       NaN   12.0    1.0             NaN

      for_rent_price_per_space  \
0                         17.0
1                         20.0
2                          NaN
3                          NaN
4                          NaN
...                        ...
3244                      12.0
3245                      23.0
3246                      17.0
3247                      19.0
3248                       NaN

      Rent percentage evolution compared to December 2023  for_sale_price  \
0                                                   8.0          143510.0
1                                                   6.8          384009.0
2                                                   NaN           45458.0
3                                                   NaN               NaN
4                                                   NaN            1319.0
...                                                 ...               ...
3244                                                9.3           78609.0
3245                                                6.4          304806.0
3246                                                5.3          130917.0
3247                                                4.8          324894.0
3248                                                NaN            1113.0

      for_sale_price_per_space  \
0                       3767.0
1                       5554.0
2                       1605.0
3                          NaN
4                         19.0
...                        ...
3244                    2222.0
3245                    6035.0
3246                    3372.0
3247                    4720.0
3248                      13.0

      Sale percentage evolution compared to December 2023  ... Sauna  \
0                                                   6.1    ...     0
1                                                   5.0    ...     1
2                                                  -2.6    ...     0
3                                                   NaN    ...     0
4                                                   4.8    ...     1
...                                                 ...    ...   ...
3244                                               17.0    ...     1
3245                                                4.6    ...     0
3246                                                1.7    ...     1
3247                                                6.2    ...     1
3248                                                3.9    ...     1

     Children area Swimming pool Library Jacuzzi Balcony Grill Parking  \
0                0             1       0       0       0     0       1
1                0             1       0       0       0     0       1
2                0             0       0       0       0     0       1
3                0             0       0       0       0     0       0
4                1             1       0       0       0     0       1
...            ...           ...     ...     ...     ...   ...     ...
3244             0             1       0       0       0     0       1
3245             0             0       0       0       0     0       1
3246             0             1       0       0       0     0       1
3247             1             1       0       0       0     0       1
3248             1             1       0       0       0     1       0

     Tennis court Pets allowance
0               0    Not allowed
1               0    Not allowed
2               0    Not allowed
3               0    Not allowed
4               0    Not allowed
...           ...            ...
3244            0    Not allowed
3245            0    Not allowed
3246            0    Not allowed
3247            0    Not allowed
3248            0    Not allowed

[3249 rows x 51 columns]

In [9]:
# Save the updated DataFrame to an Excel file
df3.to_csv('draf3.csv', index=False)

print("The DataFrame has been converted and saved to 'draft3.csv'")

The DataFrame has been converted and saved to 'draft3.csv'

In [10]:
import re

df4 = df3

# Function to extract the required information
def extract_common_area_fee(row):
    for value in row:
        match = re.search(r"Common area management fee: ฿(\d+)/sqm", str(value))
        if match:
            return int(match.group(1))
    return ""

def extract_management_company(row):
    for value in row:
        match = re.search(r"Common area management company: ([\w\s-]+)", str(value))
        if match:
            return match.group(1).strip()
    return "Not provided"

def extract_sinking_fund(row):
    for value in row:
        match = re.search(r"Sinking fund: ฿(\d+)/sqm", str(value))
        if match:
            return int(match.group(1))
    return ""

def extract_parking_ratio(row):
    for value in row:
        match = re.search(r"Ratio of parking spaces to # of units: (\d+)%", str(value))
        if match:
            return int(match.group(1))
    return ""

def extract_parking_type(row):
    for value in row:
        match = re.search(r"Parking type: ([\w\s]+)", str(value))
        if match:
            return match.group(1).strip()
    return "Not provided"

# Step 2-6: Apply the functions to extract values
df4["Common area management fee in baht"] = df.apply(extract_common_area_fee, axis=1)
df4["Common area management company"] = df.apply(extract_management_company, axis=1)
df4["Sinking fund per sqm"] = df.apply(extract_sinking_fund, axis=1)
df4["Ratio of parking spaces"] = df.apply(extract_parking_ratio, axis=1)
df4["Parking types"] = df.apply(extract_parking_type, axis=1)

In [11]:
# Save the updated DataFrame to an Excel file
df4.to_csv('draf4.csv', index=False)

print("The DataFrame has been converted and saved to 'draft4.csv'")

The DataFrame has been converted and saved to 'draft4.csv'

In [24]:
df5 = df4

import pandas as pd
import re

df5 = df4

# Step 1: Add the new columns
df5["date the condo was completed"] = ""
df5["year the condo was completed"] = ""

# Function to extract the date and year
def extract_date_and_year(row):
    date_match = None
    for value in row:
        # Find dates in the format "Month-Year", "Month Year", or "Month-Year (short years)" like "Jan-95"
        match = re.search(r"(?i)(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[-\s](\d{2}|\d{4})", str(value))
        if match:
            date_match = match.group(0)  # Full date match
            if date_match.lower() == "december 2023":  # Skip "December 2023"
                continue
            break

    # Extract and validate the year from the matched date
    if date_match:
        year_match = re.search(r"\d{2,4}", date_match)  # Match either 2-digit or 4-digit year
        if year_match:
            year = year_match.group(0)
            # Convert 2-digit year to 4-digit (e.g., "95" becomes "1995")
            if len(year) == 2:
                year = f"19{year}" if int(year) > 50 else f"20{year}"
            year = int(year)  # Convert to integer
        else:
            year = None
    else:
        year = None

    return date_match, year

# Apply the function to extract dates and years
df5["date the condo was completed"], df5["year the condo was completed"] = zip(
    *df5.apply(extract_date_and_year, axis=1)
)

# Display the updated DataFrame
print(df5)

                        condo_name  building  floor   unit  for_rent_price  \
0                 Ratchada City 18       NaN    8.0   11.0           643.0
1                BAAN SUKHUMVIT 36       1.0   14.0   26.0          1465.0
2                         LK Tower       NaN    8.0    1.0             NaN
3            Chatuchak Condominium       NaN    4.0    NaN             NaN
4                     31 Residence       NaN   17.0   18.0             NaN
...                            ...       ...    ...    ...             ...
3244     The Cube Loft Ladprao 107       NaN    8.0   13.0           396.0
3245  Nusa State Tower Condominium       1.0   68.0  122.0           967.0
3246                  Life Ladprao       2.0   46.0  227.0           555.0
3247             Phatssana Gardens       NaN   21.0   16.0          1319.0
3248          Sribumpen Condo Home       NaN   12.0    1.0             NaN

      for_rent_price_per_space  \
0                         17.0
1                         20.0
2                          NaN
3                          NaN
4                          NaN
...                        ...
3244                      12.0
3245                      23.0
3246                      17.0
3247                      19.0
3248                       NaN

      Rent percentage evolution compared to December 2023  for_sale_price  \
0                                                   8.0          143510.0
1                                                   6.8          384009.0
2                                                   NaN           45458.0
3                                                   NaN               NaN
4                                                   NaN            1319.0
...                                                 ...               ...
3244                                                9.3           78609.0
3245                                                6.4          304806.0
3246                                                5.3          130917.0
3247                                                4.8          324894.0
3248                                                NaN            1113.0

      for_sale_price_per_space  \
0                       3767.0
1                       5554.0
2                       1605.0
3                          NaN
4                         19.0
...                        ...
3244                    2222.0
3245                    6035.0
3246                    3372.0
3247                    4720.0
3248                      13.0

      Sale percentage evolution compared to December 2023  ... Parking  \
0                                                   6.1    ...       1
1                                                   5.0    ...       1
2                                                  -2.6    ...       1
3                                                   NaN    ...       0
4                                                   4.8    ...       1
...                                                 ...    ...     ...
3244                                               17.0    ...       1
3245                                                4.6    ...       1
3246                                                1.7    ...       1
3247                                                6.2    ...       1
3248                                                3.9    ...       0

     Tennis court Pets allowance Common area management fee in baht  \
0               0    Not allowed
1               0    Not allowed
2               0    Not allowed
3               0    Not allowed
4               0    Not allowed
...           ...            ...                                ...
3244            0    Not allowed                                 40
3245            0    Not allowed                                 35
3246            0    Not allowed                                 50
3247            0    Not allowed
3248            0    Not allowed

     Common area management company Sinking fund per sqm  \
0                      Not provided
1                      Not provided
2                      Not provided
3                      Not provided
4                      Not provided
...                             ...                  ...
3244                   Not provided                  500
3245                   Not provided
3246                   Not provided                  500
3247                   Not provided
3248                   Not provided

     Ratio of parking spaces              Parking types  \
0                                          Not provided
1                             Conventional Conventional
2                             Conventional Conventional
3                                          Not provided
4                                          Not provided
...                      ...                        ...
3244                                       Not provided
3245                     100  Conventional Conventional
3246                          Conventional Conventional
3247                                       Not provided
3248                                       Not provided

     date the condo was completed year the condo was completed
0                          Jan-09                       2009.0
1                          Dec-98                       1998.0
2                          Jan-21                       2021.0
3                          Jan-83                       1983.0
4                          Jan-11                       2011.0
...                           ...                          ...
3244                       Dec-20                       2020.0
3245                       Dec-00                       2000.0
3246                       May-20                       2020.0
3247                       Dec-95                       1995.0
3248                       Jan-93                       1993.0

[3249 rows x 58 columns]

In [25]:
# Save the updated DataFrame to an Excel file
df5.to_csv('draf5.csv', index=False)

print("The DataFrame has been converted and saved to 'draft5'")

The DataFrame has been converted and saved to 'draft5'

In [26]:
df6 = df5

# Regex pattern to extract the structured location
pattern = r"^(.*?),?\s*(Soi\s.*?|.*?Rd\.|.*?Road|.*?),\s*(.*?),\s*(.*?),\s*Bangkok\s*(\d{5}),\s*THA$"

# Function to extract and format the full location
def extract_full_location(location):
    match = re.match(pattern, str(location))
    if match:
        # Combine all components into a single string for "full_location"
        return f"{match.group(1)}, {match.group(2)}, {match.group(3)}, {match.group(4)}, Bangkok {match.group(5)}, THA".strip(", ")
    return None

# Apply the function to create the new "full_location" column
df6["full_location"] = df6["location"].apply(extract_full_location)

# Display the updated DataFrame
print(df6)

                        condo_name  building  floor   unit  for_rent_price  \
0                 Ratchada City 18       NaN    8.0   11.0           643.0
1                BAAN SUKHUMVIT 36       1.0   14.0   26.0          1465.0
2                         LK Tower       NaN    8.0    1.0             NaN
3            Chatuchak Condominium       NaN    4.0    NaN             NaN
4                     31 Residence       NaN   17.0   18.0             NaN
...                            ...       ...    ...    ...             ...
3244     The Cube Loft Ladprao 107       NaN    8.0   13.0           396.0
3245  Nusa State Tower Condominium       1.0   68.0  122.0           967.0
3246                  Life Ladprao       2.0   46.0  227.0           555.0
3247             Phatssana Gardens       NaN   21.0   16.0          1319.0
3248          Sribumpen Condo Home       NaN   12.0    1.0             NaN

      for_rent_price_per_space  \
0                         17.0
1                         20.0
2                          NaN
3                          NaN
4                          NaN
...                        ...
3244                      12.0
3245                      23.0
3246                      17.0
3247                      19.0
3248                       NaN

      Rent percentage evolution compared to December 2023  for_sale_price  \
0                                                   8.0          143510.0
1                                                   6.8          384009.0
2                                                   NaN           45458.0
3                                                   NaN               NaN
4                                                   NaN            1319.0
...                                                 ...               ...
3244                                                9.3           78609.0
3245                                                6.4          304806.0
3246                                                5.3          130917.0
3247                                                4.8          324894.0
3248                                                NaN            1113.0

      for_sale_price_per_space  \
0                       3767.0
1                       5554.0
2                       1605.0
3                          NaN
4                         19.0
...                        ...
3244                    2222.0
3245                    6035.0
3246                    3372.0
3247                    4720.0
3248                      13.0

      Sale percentage evolution compared to December 2023  ... Tennis court  \
0                                                   6.1    ...            0
1                                                   5.0    ...            0
2                                                  -2.6    ...            0
3                                                   NaN    ...            0
4                                                   4.8    ...            0
...                                                 ...    ...          ...
3244                                               17.0    ...            0
3245                                                4.6    ...            0
3246                                                1.7    ...            0
3247                                                6.2    ...            0
3248                                                3.9    ...            0

     Pets allowance Common area management fee in baht  \
0       Not allowed
1       Not allowed
2       Not allowed
3       Not allowed
4       Not allowed
...             ...                                ...
3244    Not allowed                                 40
3245    Not allowed                                 35
3246    Not allowed                                 50
3247    Not allowed
3248    Not allowed

     Common area management company Sinking fund per sqm  \
0                      Not provided
1                      Not provided
2                      Not provided
3                      Not provided
4                      Not provided
...                             ...                  ...
3244                   Not provided                  500
3245                   Not provided
3246                   Not provided                  500
3247                   Not provided
3248                   Not provided

     Ratio of parking spaces              Parking types  \
0                                          Not provided
1                             Conventional Conventional
2                             Conventional Conventional
3                                          Not provided
4                                          Not provided
...                      ...                        ...
3244                                       Not provided
3245                     100  Conventional Conventional
3246                          Conventional Conventional
3247                                       Not provided
3248                                       Not provided

     date the condo was completed year the condo was completed  \
0                          Jan-09                       2009.0
1                          Dec-98                       1998.0
2                          Jan-21                       2021.0
3                          Jan-83                       1983.0
4                          Jan-11                       2011.0
...                           ...                          ...
3244                       Dec-20                       2020.0
3245                       Dec-00                       2000.0
3246                       May-20                       2020.0
3247                       Dec-95                       1995.0
3248                       Jan-93                       1993.0

                                          full_location
0     91/4 Soi 20 Mithuna, Yaek 17, Sutthisan Winitc...
1     Ban Sukhumvit, 119 Soi Napha Sap 5, Khlong Tan...
2     Nuan Chan Rd, Nuan Chan, Bueng Kum, Bangkok 10...
3                                                  None
4     Baan Siri Thirty One, 47 ซอยสุขุมวิท 31, Khlon...
...                                                 ...
3244  Soi Di Som Chok, Khlong Chan, Bang Kapi, Bangk...
3245  Atm Tmbthanachart Bank, Tmbthanachart Bank Si ...
3246  Life Lat Phrao Phahon Yothin Rd., Chomphon, Ch...
3247  Brightskies International School Soi Ekkamai 6...
3248  Si Bamphen Condohome, 160 Soi Si Bamphen, Chon...

[3249 rows x 59 columns]

In [27]:
# Save the updated DataFrame to an Excel file
df6.to_csv('draf6.csv', index=False)

print("The DataFrame has been converted and saved to 'draft6'")

The DataFrame has been converted and saved to 'draft6'

In [29]:
df7 = df6

# Regex pattern to extract the structured location
pattern = r"^(.*?),?\s*(Soi\s.*?|.*?Rd\.|.*?Road|.*?),\s*(.*?),\s*(.*?),\s*Bangkok\s*(\d{5}),\s*THA$"

# Function to extract components
def extract_location_components(location):
    match = re.match(pattern, str(location))
    if match:
        return {
            "Building/Place Name": match.group(1).strip(", ") if match.group(1) else None,
            "Soi/Road": match.group(2).strip(", ") if match.group(2) else None,
            "Sub-District": match.group(3).strip(", ") if match.group(3) else None,
            "District": match.group(4).strip(", ") if match.group(4) else None,
            "Postal Code": match.group(5).strip(", ") if match.group(5) else None,
        }
    return {
        "Building/Place Name": None,
        "Soi/Road": None,
        "Sub-District": None,
        "District": None,
        "Postal Code": None,
    }

# Apply the function and create new columns
location_components = df7["location"].apply(extract_location_components)
location_df = pd.DataFrame(location_components.tolist())

# Combine the original DataFrame with the new columns
df7 = pd.concat([df7, location_df], axis=1)

# Display the updated DataFrame
print(df7)

                        condo_name  building  floor   unit  for_rent_price  \
0                 Ratchada City 18       NaN    8.0   11.0           643.0
1                BAAN SUKHUMVIT 36       1.0   14.0   26.0          1465.0
2                         LK Tower       NaN    8.0    1.0             NaN
3            Chatuchak Condominium       NaN    4.0    NaN             NaN
4                     31 Residence       NaN   17.0   18.0             NaN
...                            ...       ...    ...    ...             ...
3244     The Cube Loft Ladprao 107       NaN    8.0   13.0           396.0
3245  Nusa State Tower Condominium       1.0   68.0  122.0           967.0
3246                  Life Ladprao       2.0   46.0  227.0           555.0
3247             Phatssana Gardens       NaN   21.0   16.0          1319.0
3248          Sribumpen Condo Home       NaN   12.0    1.0             NaN

      for_rent_price_per_space  \
0                         17.0
1                         20.0
2                          NaN
3                          NaN
4                          NaN
...                        ...
3244                      12.0
3245                      23.0
3246                      17.0
3247                      19.0
3248                       NaN

      Rent percentage evolution compared to December 2023  for_sale_price  \
0                                                   8.0          143510.0
1                                                   6.8          384009.0
2                                                   NaN           45458.0
3                                                   NaN               NaN
4                                                   NaN            1319.0
...                                                 ...               ...
3244                                                9.3           78609.0
3245                                                6.4          304806.0
3246                                                5.3          130917.0
3247                                                4.8          324894.0
3248                                                NaN            1113.0

      for_sale_price_per_space  \
0                       3767.0
1                       5554.0
2                       1605.0
3                          NaN
4                         19.0
...                        ...
3244                    2222.0
3245                    6035.0
3246                    3372.0
3247                    4720.0
3248                      13.0

      Sale percentage evolution compared to December 2023  ...  \
0                                                   6.1    ...
1                                                   5.0    ...
2                                                  -2.6    ...
3                                                   NaN    ...
4                                                   4.8    ...
...                                                 ...    ...
3244                                               17.0    ...
3245                                                4.6    ...
3246                                                1.7    ...
3247                                                6.2    ...
3248                                                3.9    ...

     Ratio of parking spaces              Parking types  \
0                                          Not provided
1                             Conventional Conventional
2                             Conventional Conventional
3                                          Not provided
4                                          Not provided
...                      ...                        ...
3244                                       Not provided
3245                     100  Conventional Conventional
3246                          Conventional Conventional
3247                                       Not provided
3248                                       Not provided

     date the condo was completed year the condo was completed  \
0                          Jan-09                       2009.0
1                          Dec-98                       1998.0
2                          Jan-21                       2021.0
3                          Jan-83                       1983.0
4                          Jan-11                       2011.0
...                           ...                          ...
3244                       Dec-20                       2020.0
3245                       Dec-00                       2000.0
3246                       May-20                       2020.0
3247                       Dec-95                       1995.0
3248                       Jan-93                       1993.0

                                          full_location Building/Place Name  \
0     91/4 Soi 20 Mithuna, Yaek 17, Sutthisan Winitc...                None
1     Ban Sukhumvit, 119 Soi Napha Sap 5, Khlong Tan...                None
2     Nuan Chan Rd, Nuan Chan, Bueng Kum, Bangkok 10...                None
3                                                  None                None
4     Baan Siri Thirty One, 47 ซอยสุขุมวิท 31, Khlon...                None
...                                                 ...                 ...
3244  Soi Di Som Chok, Khlong Chan, Bang Kapi, Bangk...                None
3245  Atm Tmbthanachart Bank, Tmbthanachart Bank Si ...                None
3246  Life Lat Phrao Phahon Yothin Rd., Chomphon, Ch...                None
3247  Brightskies International School Soi Ekkamai 6...                None
3248  Si Bamphen Condohome, 160 Soi Si Bamphen, Chon...                None

                                               Soi/Road         Sub-District  \
0                                   91/4 Soi 20 Mithuna              Yaek 17
1                                         Ban Sukhumvit  119 Soi Napha Sap 5
2                                          Nuan Chan Rd            Nuan Chan
3                                                  None                 None
4                                  Baan Siri Thirty One    47 ซอยสุขุมวิท 31
...                                                 ...                  ...
3244                                    Soi Di Som Chok          Khlong Chan
3245  Atm Tmbthanachart Bank, Tmbthanachart Bank Si ...               Si Lom
3246                   Life Lat Phrao Phahon Yothin Rd.             Chomphon
3247     Brightskies International School Soi Ekkamai 6    Phra Khanong Nuea
3248                               Si Bamphen Condohome   160 Soi Si Bamphen

                                              District Postal Code
0     Sutthisan Winitchai Rd, Sam Sen Nok, Huai Khwang       10310
1                              Khlong Tan, Khlong Toei       10110
2                                            Bueng Kum       10230
3                                                 None        None
4                            Khlong Toei Nuea, Vadhana       10110
...                                                ...         ...
3244                                         Bang Kapi       10240
3245                                          Bang Rak       10500
3246                                         Chatuchak       10900
3247                                           Vadhana       10110
3248                             Chong Nonsi, Yan Nawa       10120

[3249 rows x 64 columns]

In [30]:
# Save the updated DataFrame to an Excel file
df7.to_csv('draf7.csv', index=False)

print("The DataFrame has been converted and saved to 'draft7'")

The DataFrame has been converted and saved to 'draft7'